<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="data">
      <ul>
        <li v-for="fruta in frutas">
          <input type="number" v-model.number="fruta.cantidad" />
          <button v-on:click="fruta.cantidad++">+</button>
          {{fruta.nombre}}
          <span v-if="fruta.cantidad ===0"> -- NO HAY STOCK</span>
        </li>
      </ul>
      <input type="text" v-model="nuevaFruta" v-on:keyup.enter="agregarFruta" />
      <button v-on:click="agregarFruta">Agregar</button>
      <h4>TOTAL: {{sumarFrutas}}</h4>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
